.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background-color: rgb(43, 40, 40);
    
}

span{
    font-size: 30px;
    font-weight: bold;
}

ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}